body {
  background-image: url('../public/image/total.jpeg') ;
  min-width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
  
}
.total{
  margin: -10px -10px -27px;
}
/* Navbar */
.navname{
  min-width: 500vh;
  z-index: 10;
  font-style: italic;
  backdrop-filter: blur(50px);
  background-color: rgba(0, 174, 255, 0.411);
  position: fixed;
  margin: -8px;
  font-style: bold;
  padding: 10px;
  text-align: left;
  font-size: 25px;
}

ul li{
  /* margin-right: 100px; */
  display: inline;
}

.dropbtn {
  
  background-color: #04aa6d00;
  color: white;
  padding: 16px;
  font-size-adjust: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}
.dropdown-content a {
  color: black;
  padding: 15px 2px;
  text-decoration: none;
  display: block;
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e678e6b;}
/* Footer */
.footer{
  backdrop-filter: blur(50px);
  background-color: rgba(0, 132, 255, 0.349);
  position: relative;
  
  width: 100%;
  color: white;
  text-align: center;
  }
  /* About */
.about{
  margin-bottom: -27px;
  text-align:justify;
  backdrop-filter: blur(50px);

}
/* first part */
.first{
  background-image: url('../public/image/front.jpeg') ;
  min-height: 101vh;
  /* min-width: 100vw; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
  text-align: center;
}
.first_heading{
  font-style: italic;
  backdrop-filter: blur(5px);
  font-weight:bold;
  text-decoration-line:underline;
  font-family: "Lucida Console";

}
.butt{
  backdrop-filter: blur(50px);
  font-size: larger;
  font-family: "Lucida Console";
  background-color: #5160e2; 
  border: none;
  opacity: .8;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  transition-duration: 0.4s;
}
.butt:hover {
  opacity: .7;
  background-color: #81829c; /* Green */
  color: rgb(238, 239, 241);
}
.first_text{
  font-style:oblique;
  padding-top: 60px;
  backdrop-filter: blur(5px);
  font-family: "Lucida Console";
}